@font-face {
    font-family: "JetBrains Mono";
    src: url("/JetBrainsMono-1.0.3/eot/JetBrainsMono-Regular.eot");
    src: url("/JetBrainsMono-1.0.3/woff/JetBrainsMono-Regular.woff") format("woff");
}

body {
    font-family: 'Montserrat', sans-serif;
}